{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./daytracker/tailwind.config.js",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "singleAttributePerLine": true
}
